<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>OAuth Sample</title>
</head>

<script type="text/javascript">
function showEmailInput(selectObj, emailInputObj) {

	if (selectObj.id == "provider") {
		alert("function showEmailInput() : " + selectObj.id + "," + emailInputObj.id + "," + selectObj.id.value);
	}



}



</script>

<body>


<form id="loginForm" action="loginProcess" method="post">

select OAuth Provider : <select name="provider" id="provider" onchange="javascript:showEmailInput(this,emailInput)">
<option value="google">Google</option>
<option value="fb">Facebook(not yet)</option>
<option value="mySvc">Our Service (not yet)</option>
</select>

<div id="emailInput" style="display: table;">
Enter ID or eMail : <input type="text" name="email" />
</div>

<!-- <p th:text="'redirectUri = ' + ${redirectUri} " /> -->
<!--  <a href="main.html" th:href="@{/main}"> test link</a> -->

<!--  <input type="hidden" name="redirectUri" th:attr="value=${redirectUri}" /> -->

<p></p>
<input type="submit" name="submit" value="OK" />
</form>


</body>
</html>

